*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(255, 239, 205);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     justify-content: center;
          flex-wrap: wrap;
          padding: 20px;
   
}

 main{ 
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
    } 
 .imagenes_uñas
 {
   margin-top: 80px;
   margin-bottom: 80px;
 }

 footer {
    background-color: 
rgba(224, 145, 50, 0.705);
    padding: 6px;
    text-align: center;
    border-radius: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;

}

.social-icon {
    width: 35px;
    margin: 10px;
}

/*Cards*/

#comentarios{
  margin-top: 100px;
}
.card {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin: 40px;
    margin-top: 80px;
    padding: 20px;
    width: 330px;
    text-align: center;  
}
.card h3 {
    margin: 10px 0;
    color: #333;
}
.card p {
    color: #666;
    font-size: 25px;
}

/*GRIDS*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 16px;
    padding: 20px;
}
.grid-item img {
    width: 100%;
    height: auto; 
    border-radius: 120px; 
}

.titulo{
    background-color: rgba(224, 145, 50, 0.705);
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.somos{
    margin: 50px;
}
/*Formulario*/
.form-container {
    padding:10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
label {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

input, textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: x-large;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

form{
    font-size: x-large;
}

/* Media Queries */
@media (min-width: 500px) {
    .form-container {
        width: 80%; 
    }
}

@media (min-width: 800px) {
    .form-container {
        width: 80%; 
    }
}



header img{
    width: 400px;
    max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;  
}

.navbar {
    background-color:  rgba(224, 145, 50, 0.705);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 20px 
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu a:hover {
    background-color:  rgba(224, 145, 50, 0.705);
  }
  
  /* Estilos para el botón de menú hamburguesa (visible en pantallas pequeñas) */
  .menu-toggle {
    display: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top:500px;
      background-color: rgba(224, 145, 50, 0.705);
      padding: 10px;
    }
  
    .navbar-menu li {
      width: 100%;
      text-align: center;
    }
  
    /* Mostrar el menú cuando el checkbox está marcado */
    .menu-toggle:checked + .menu-icon + .navbar-menu {
      display: flex;
    }
  
    /* menú hamburguesa */
    .menu-icon {
      display: block;
    }
  }

  .tabla{
    font-size: x-large;
    margin-top: 30px;
    border: 1px solid #000000;
            padding: 8px;
            text-align: center;

  }

  .usuarias{
    justify-content: center;
    display: flex;
  }

  


